.clip-path-reveal {
  position: relative;
  width: 100%;
  height: 100vh;

  .menu-icon {
    position: absolute;
    z-index: 1;
    top: 2rem;
    right: 2rem;
    cursor: pointer;

    &.active {
      color: white;
    }
  }

  .component {
    display: grid;
    width: 100%;
    height: 100%;
    transition: all 0.25s ease-in-out;
    color: white;
    background-color: #000135;
    clip-path: circle(0 at top right);
    place-items: center;

    &.active {
      clip-path: circle(200% at top right);
    }
  }
}
