<main>
  <div class="card main-card-1">
    <div class="card-header">
      <div class="card-title">Title</div>
    </div>
    <div class="card-body boundary">
      <div [ngClass]="ic1 ? 'expanded': 'collapsed'"
           cdkDrag
           cdkDragBoundary=".boundary" class="card custom-card">
        <div cdkDragHandle class="card-header">
          <div class="card-title">Inner Title</div>
          <span class="spacer"></span>
          <div class="controls">
            <button (click)="ic1 = !ic1" mat-icon-button="true">
              <mat-icon>{{ic1 ? "remove" : "add"}}</mat-icon>
            </button>
          </div>
        </div>
        <div class="card-body">
          Title: Number <br>
          Title: Number <br>
          Title: Number <br>
          Title: Number <br>
          Title: Number <br>
        </div>
      </div>
      <div [ngClass]="ic2 ? 'expanded': 'collapsed'"
           cdkDrag
           cdkDragBoundary=".boundary" class="card custom-card">
        <div class="card-header">
          <div class="card-title">Inner Title</div>
          <span class="spacer"></span>
          <div class="controls">
            <button (click)="ic2 = !ic2" mat-icon-button="true">
              <mat-icon>{{ic2 ? "remove" : "add"}}</mat-icon>
            </button>
          </div>
        </div>
        <div class="card-body">
          Title: Number <br>
          Title: Number <br>
          Title: Number <br>
          Title: Number <br>
          Title: Number <br></div>
      </div>
    </div>
  </div>
  <div class="card main-card-2">
    <div class="card-header">
      <div class="card-title">Title</div>
    </div>
    <div class="card-body boundary">
      <div [ngClass]="ic1 ? 'expanded': 'collapsed'"
           cdkDrag
           cdkDragBoundary=".boundary" class="card custom-card">
        <div cdkDragHandle class="card-header">
          <div class="card-title">Inner Title</div>
          <span class="spacer"></span>
          <div class="controls">
            <button (click)="ic1 = !ic1" mat-icon-button="true">
              <mat-icon>{{ic1 ? "remove" : "add"}}</mat-icon>
            </button>
          </div>
        </div>
        <div class="card-body">
          Title: Number <br>
          Title: Number <br>
          Title: Number <br>
          Title: Number <br>
          Title: Number <br>
        </div>
      </div>
      <div [ngClass]="ic2 ? 'expanded': 'collapsed'"
           cdkDrag
           cdkDragBoundary=".boundary" class="card custom-card">
        <div class="card-header">
          <div class="card-title">Inner Title</div>
          <span class="spacer"></span>
          <div class="controls">
            <button (click)="ic2 = !ic2" mat-icon-button="true">
              <mat-icon>{{ic2 ? "remove" : "add"}}</mat-icon>
            </button>
          </div>
        </div>
        <div class="card-body">
          Title: Number <br>
          Title: Number <br>
          Title: Number <br>
          Title: Number <br>
          Title: Number <br></div>
      </div>
    </div>
  </div>
  <div class="card main-card-3">
    <div class="card-header">
      <div class="card-title">Title</div>
    </div>
    <div class="card-body">Some Card BodY</div>
  </div>
  <div class="card main-card-4">
    <div class="card-header">
      <div class="card-title">Title</div>
    </div>
    <div class="card-body">Some Card BodY</div>
  </div>
  <div class="card main-card-5">
    <div class="card-header">
      <div class="card-title">Title</div>
    </div>
    <div class="card-body boundary">
      <div [ngClass]="ic1 ? 'expanded': 'collapsed'"
           cdkDrag
           cdkDragBoundary=".boundary" class="card custom-card">
        <div cdkDragHandle class="card-header">
          <div class="card-title">Inner Title</div>
          <span class="spacer"></span>
          <div class="controls">
            <button (click)="ic1 = !ic1" mat-icon-button="true">
              <mat-icon>{{ic1 ? "remove" : "add"}}</mat-icon>
            </button>
          </div>
        </div>
        <div class="card-body">
          Title: Number <br>
          Title: Number <br>
          Title: Number <br>
          Title: Number <br>
          Title: Number <br>
        </div>
      </div>
      <div [ngClass]="ic2 ? 'expanded': 'collapsed'"
           cdkDrag
           cdkDragBoundary=".boundary" class="card custom-card">
        <div class="card-header">
          <div class="card-title">Inner Title</div>
          <span class="spacer"></span>
          <div class="controls">
            <button (click)="ic2 = !ic2" mat-icon-button="true">
              <mat-icon>{{ic2 ? "remove" : "add"}}</mat-icon>
            </button>
          </div>
        </div>
        <div class="card-body">
          Title: Number <br>
          Title: Number <br>
          Title: Number <br>
          Title: Number <br>
          Title: Number <br></div>
      </div>
      <div [ngClass]="ic2 ? 'expanded': 'collapsed'"
           cdkDrag
           cdkDragBoundary=".boundary" class="card custom-card">
        <div class="card-header">
          <div class="card-title">Inner Title</div>
          <span class="spacer"></span>
          <div class="controls">
            <button (click)="ic2 = !ic2" mat-icon-button="true">
              <mat-icon>{{ic2 ? "remove" : "add"}}</mat-icon>
            </button>
          </div>
        </div>
        <div class="card-body">
          Title: Number <br>
          Title: Number <br>
          Title: Number <br>
          Title: Number <br>
          Title: Number <br></div>
      </div>
      <div [ngClass]="ic2 ? 'expanded': 'collapsed'"
           cdkDrag
           cdkDragBoundary=".boundary" class="card custom-card">
        <div class="card-header">
          <div class="card-title">Inner Title</div>
          <span class="spacer"></span>
          <div class="controls">
            <button (click)="ic2 = !ic2" mat-icon-button="true">
              <mat-icon>{{ic2 ? "remove" : "add"}}</mat-icon>
            </button>
          </div>
        </div>
        <div class="card-body">
          Title: Number <br>
          Title: Number <br>
          Title: Number <br>
          Title: Number <br>
          Title: Number <br></div>
      </div>
      <div [ngClass]="ic2 ? 'expanded': 'collapsed'"
           cdkDrag
           cdkDragBoundary=".boundary" class="card custom-card">
        <div class="card-header">
          <div class="card-title">Inner Title</div>
          <span class="spacer"></span>
          <div class="controls">
            <button (click)="ic2 = !ic2" mat-icon-button="true">
              <mat-icon>{{ic2 ? "remove" : "add"}}</mat-icon>
            </button>
          </div>
        </div>
        <div class="card-body">
          Title: Number <br>
          Title: Number <br>
          Title: Number <br>
          Title: Number <br>
          Title: Number <br></div>
      </div>
      <div [ngClass]="ic2 ? 'expanded': 'collapsed'"
           cdkDrag
           cdkDragBoundary=".boundary" class="card custom-card">
        <div class="card-header">
          <div class="card-title">Inner Title</div>
          <span class="spacer"></span>
          <div class="controls">
            <button (click)="ic2 = !ic2" mat-icon-button="true">
              <mat-icon>{{ic2 ? "remove" : "add"}}</mat-icon>
            </button>
          </div>
        </div>
        <div class="card-body">
          Title: Number <br>
          Title: Number <br>
          Title: Number <br>
          Title: Number <br>
          Title: Number <br></div>
      </div>
      <div [ngClass]="ic2 ? 'expanded': 'collapsed'"
           cdkDrag
           cdkDragBoundary=".boundary" class="card custom-card">
        <div class="card-header">
          <div class="card-title">Inner Title</div>
          <span class="spacer"></span>
          <div class="controls">
            <button (click)="ic2 = !ic2" mat-icon-button="true">
              <mat-icon>{{ic2 ? "remove" : "add"}}</mat-icon>
            </button>
          </div>
        </div>
        <div class="card-body">
          Title: Number <br>
          Title: Number <br>
          Title: Number <br>
          Title: Number <br>
          Title: Number <br></div>
      </div>
      <div [ngClass]="ic2 ? 'expanded': 'collapsed'"
           cdkDrag
           cdkDragBoundary=".boundary" class="card custom-card">
        <div class="card-header">
          <div class="card-title">Inner Title</div>
          <span class="spacer"></span>
          <div class="controls">
            <button (click)="ic2 = !ic2" mat-icon-button="true">
              <mat-icon>{{ic2 ? "remove" : "add"}}</mat-icon>
            </button>
          </div>
        </div>
        <div class="card-body">
          Title: Number <br>
          Title: Number <br>
          Title: Number <br>
          Title: Number <br>
          Title: Number <br></div>
      </div>
      <div [ngClass]="ic2 ? 'expanded': 'collapsed'"
           cdkDrag
           cdkDragBoundary=".boundary" class="card custom-card">
        <div class="card-header">
          <div class="card-title">Inner Title</div>
          <span class="spacer"></span>
          <div class="controls">
            <button (click)="ic2 = !ic2" mat-icon-button="true">
              <mat-icon>{{ic2 ? "remove" : "add"}}</mat-icon>
            </button>
          </div>
        </div>
        <div class="card-body">
          Title: Number <br>
          Title: Number <br>
          Title: Number <br>
          Title: Number <br>
          Title: Number <br></div>
      </div>
      <div [ngClass]="ic2 ? 'expanded': 'collapsed'"
           cdkDrag
           cdkDragBoundary=".boundary" class="card custom-card">
        <div class="card-header">
          <div class="card-title">Inner Title</div>
          <span class="spacer"></span>
          <div class="controls">
            <button (click)="ic2 = !ic2" mat-icon-button="true">
              <mat-icon>{{ic2 ? "remove" : "add"}}</mat-icon>
            </button>
          </div>
        </div>
        <div class="card-body">
          Title: Number <br>
          Title: Number <br>
          Title: Number <br>
          Title: Number <br>
          Title: Number <br></div>
      </div>
      <div [ngClass]="ic2 ? 'expanded': 'collapsed'"
           cdkDrag
           cdkDragBoundary=".boundary" class="card custom-card">
        <div class="card-header">
          <div class="card-title">Inner Title</div>
          <span class="spacer"></span>
          <div class="controls">
            <button (click)="ic2 = !ic2" mat-icon-button="true">
              <mat-icon>{{ic2 ? "remove" : "add"}}</mat-icon>
            </button>
          </div>
        </div>
        <div class="card-body">
          Title: Number <br>
          Title: Number <br>
          Title: Number <br>
          Title: Number <br>
          Title: Number <br></div>
      </div>
      <div [ngClass]="ic2 ? 'expanded': 'collapsed'"
           cdkDrag
           cdkDragBoundary=".boundary" class="card custom-card">
        <div class="card-header">
          <div class="card-title">Inner Title</div>
          <span class="spacer"></span>
          <div class="controls">
            <button (click)="ic2 = !ic2" mat-icon-button="true">
              <mat-icon>{{ic2 ? "remove" : "add"}}</mat-icon>
            </button>
          </div>
        </div>
        <div class="card-body">
          Title: Number <br>
          Title: Number <br>
          Title: Number <br>
          Title: Number <br>
          Title: Number <br></div>
      </div>
    </div>
  </div>
</main>
