body {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  margin: 0;
  padding: 0;
  background: linear-gradient(30deg, #1ec4e9 0%, #673ab7 50%, #262626 50%, #607d8b 100%);
}

a {
  font-family: sans-serif;
  font-size: 2em;
  position: relative;
  overflow: hidden;
  padding: 25px 30px;
  text-decoration: none;
  letter-spacing: 4px;
  text-transform: uppercase;
  color: white;
  background: rgba(255, 255, 255, 0.1);
  box-shadow: 0 5px 5px rgba(0, 0, 0, 0.2);

  span {
    position: absolute;
    display: block;
    transition: 0.5s;
  }


  span:nth-child(1) {
    top: 0;
    left: -100%;
    width: 100%;
    height: 2px;
    background: white;
  }

  span:nth-child(2) {
    top: 100%;
    right: 0;
    width: 2px;
    height: 100%;
    background: white;
  }

  span:nth-child(3) {
    bottom: 0;
    left: 100%;
    width: 100%;
    height: 2px;
    background: white;
  }

  span:nth-child(4) {
    top: -100%;
    left: 0;
    width: 2px;
    height: 100%;
    background: white;
  }

}

a:before {
  position: absolute;
  top: 0;
  left: 0;
  width: 50%;
  height: 100%;
  content: '';
  background: rgba(255, 255, 255, .1);
}

a:after {
  position: absolute;
  top: 0;
  left: -100%;
  width: 100%;
  height: 100%;
  content: '';
  transition: 0.5s;
  transition-delay: 0.5s;
  background: linear-gradient(90deg, transparent, rgba(255, 255, 255, 0.4), transparent);
}

a:hover:after {
  left: 100%;
}

a:hover {
  span:nth-child(1) {
    left: 100%;
  }

  span:nth-child(2) {
    top: -100%;
  }

  span:nth-child(3) {
    left: -100%;
  }

  span:nth-child(4) {
    top: 100%;
  }
}
