* {
  box-sizing: border-box;
}

body {
  font-family: 'Arial Rounded MT Bold', sans-serif;
  font-weight: 700;
  display: flex;
  overflow: hidden;
  align-items: center;
  justify-content: space-evenly;
  min-height: 100vh;
  margin: 0;
}

.light, .dark {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100vh;
  color: #555555;
  background: #ecf0f3;

  .login {
    position: relative;
    display: flex;
    flex-direction: column;
    width: 420px;
    height: 700px;
    padding: 60px 35px 35px 35px;
    border-radius: 40px;
    background: #ecf0f3;
    box-shadow: 10px 10px 15px #cdced1, //Bottom-Right Shadow
    -10px -10px 15px rgba(255, 255, 255, 1), // Top-Left Shadow
    inset 2px 2px 5px white,
    inset -2px -2px 5px #cdced1; // Top-Left Inside White

    &:before {
      position: absolute;
      bottom: -50px;
      left: 0;
      width: 100%;
      height: 30px;
      content: '';
      border-radius: 50%;
      background: radial-gradient(rgba(0, 0, 0, 0.15), transparent, transparent);
    }

    .logo {
      //background: url("~src/assets/logo.jpg");
      width: 100px;
      height: 100px;
      margin: 0 auto;
      border-radius: 50%;
      background-size: contain;
      box-shadow: 4px 4px 8px #cdced1,
      -4px -4px 8px white,
      inset 2px 2px 4px white,
      inset -2px -2px 4px #cdced1;
    }

    .title {
      font-size: 28px;
      padding-top: 24px;
      text-align: center;
      letter-spacing: 0.5px;
    }

    .sub {
      font-size: 15px;
      padding-top: 7px;
      text-align: center;
      letter-spacing: 3px;
    }

    .fields {
      width: 100%;
      padding: 75px 5px 5px 5px;

      .username, .password {
        display: flex;
        align-items: center;
        justify-content: center;
        border-radius: 25px;
        box-shadow: inset 4px 4px 8px #b1b1b1b1,
        inset -4px -4px 8px white;

        input {
          font-size: 18px;
          width: 75%;
          padding: 20px 10px 20px 5px;
          color: #555555;
          border: none;
          outline: none;
          background: none;
        }

        svg {
          height: 22px;
          //margin: 0 25px -5px 25px;
        }
      }

      .username {
        margin-bottom: 24px;
      }

    }

    button {
      font-family: 'Lato', sans-serif;
      font-size: 20px;
      font-weight: 700;
      position: absolute;
      bottom: 10%;
      left: 10%;
      width: 80%;
      height: auto;
      padding: 8px 16px;
      cursor: pointer;
      transition: 0.5s ease-in-out;
      text-align: center;
      color: darkgray;
      border: none;
      border-radius: 30px;
      outline: none;
      background: none;
      box-shadow: 3px 3px 8px #b1b1b1b1,
      -3px -3px 8px white;

      &:hover {
        transform: scale(1.1);
      }
    }

    .link {
      padding-top: 20px;
      text-align: center;

      a {
        font-size: 15px;
        text-decoration: none;
        color: #aaaaaa;
      }

    }

  }


  /* -----
  SVG Icons - svgicons.sparkk.fr
  ----- */

  .svg-icon {
    width: 22px;
    height: 22px;
  }

  .svg-icon path,
  .svg-icon polygon,
  .svg-icon rect {
    fill: #555555;
  }

  .svg-icon circle {
    stroke: #555555;
    stroke-width: 1;
  }
}

.dark {
  color: lightblue;
  background: rgb(3, 19, 33);

  .login {
    background: rgb(3, 19, 33);
    box-shadow: 10px 10px 15px rgba(0, 0, 0, 0.3), //Bottom-Right Shadow
    -10px -10px 15px rgba(255, 255, 255, 0.05), // Top-Left Shadow
    inset 2px 2px 5px rgba(255, 255, 255, 0.05),
    inset -2px -2px 5px rgba(0, 0, 0, 0.3); // Top-Left Inside White


    &:before {
      background: radial-gradient(rgba(0, 0, 0, 0.15), transparent, transparent);
    }

    .logo {
      box-shadow: 4px 4px 8px rgba(0, 0, 0, 0.3), //Bottom-Right Shadow
      -4px -4px 8px rgba(255, 255, 255, 0.05), // Top-Left Shadow
      inset 2px 2px 5px rgba(255, 255, 255, 0.05),
      inset -2px -2px 5px rgba(0, 0, 0, 0.3); // Top-Left Inside White
    }

    .fields {
      .username, .password {
        color: lightblue;
        box-shadow: inset 4px 4px 8px rgba(0, 0, 0, 0.3),
        inset -4px -4px 8px rgba(255, 255, 255, 0.05);

        input {
          color: lightblue;
        }

      }

    }

    button {
      color: lightgrey;
      box-shadow: 3px 3px 8px rgba(0, 0, 0, 0.3),
      -3px -3px 8px rgba(255, 255, 255, 0.05);

      &:hover {
        transform: scale(1.1);
      }

    }

    .link {
      a {
        color: darkgray;
      }
    }

  }

  .svg-icon path,
  .svg-icon polygon,
  .svg-icon rect {
    fill: lightblue;
  }

}
