.clip-path {
  display: grid;
  place-items: center;

  .rectangle {
    display: flex;
    width: 50%;
    height: 100px;
    padding: 1em;
    border-radius: 50px;
    background-color: #03a9f4;

    .circle {
      clip-path: circle(50px);
    }
  }


}
