
main {
  font-family: 'Chakra Petch', sans-serif;
  position: relative;
  display: flex;

  flex-wrap: wrap;
  justify-content: flex-start;

  box-sizing: border-box;

  width: 100%;
  min-height: 100vh;

  margin: 0;

  padding: 0;


  background: #bebfb1;
}

.navbar {
  position: relative;
  display: flex;

  align-items: center;

  flex-direction: row;
  justify-content: center;

  width: 100%;
  height: fit-content;

  margin: 0;
  padding: 0;


  nav {
    position: relative;
    display: flex;

    overflow: auto;
    align-items: center;

    flex-direction: row;

    flex-wrap: nowrap;
    width: 90%;


    height: 100%;
    color: white;

    border-bottom-right-radius: 5px;


    border-bottom-left-radius: 5px;
    background: var(--primary);
  }

}


section {
  width: fit-content;
  height: fit-content;

  margin: 8px;
  padding: 8px;

  border: solid 1px #0c0326;
  border-radius: 5px;

}

.button {
  font-family: 'Chakra Petch', sans-serif;
  font-size: 16px;
  font-weight: 500;
  display: block;
  margin: 4px;
  padding: 8px 24px;
  cursor: pointer;

  text-align: center;
  color: black;
  border-radius: 4px;
  background-color: var(--normal);
}

.primary {
  color: white;
  background: var(--primary);
}

.secondary {
  color: white;
  background: var(--secondary);
}

.tertiary {
  color: white;
  background: var(--tertiary);
}

.success {
  color: black;
  background: var(--success);
}

.warn {
  color: white;
  background: var(--warn);
}

.card {
  position: relative;
  display: flex;

  flex-direction: column;
  width: 500px;

  min-width: 200px;

  padding: 8px;

  color: white;
  border-radius: 4px;

  background: var(--tertiary);

  box-shadow: 2px 2px 4px #171718;

}

.card-header {
  margin: 4px 8px;
}

.card-title, .card-sub1, .card-sub2, .card-content, .card-header, .card-action, .card-header, .card {
  font-family: 'Chakra Petch', sans-serif;
  color: white;
  overflow-wrap: break-word;
}

.card-title {
  font-size: 32px;
  font-weight: 700;
}

.card-sub1 {
  font-size: 16px;
  font-weight: 300;
  color: #bebfb1;
}

.card-sub2 {
  font-size: 12px;
  font-weight: 300;
  color: #bebfb1;
}

.card-content {
  font-size: 16px;
  font-weight: 300;
  color: white;

  overflow-wrap: break-word;
}

.card-footer {
  font-size: 24px;

  font-weight: 500;
  position: relative;
  right: 0;

  bottom: 0;

  left: 0;
  margin-top: 16px;
}

.card-action {
  display: flex;
  align-items: center;

  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;


}
