<main style="
  --normal: #aaaaaa;
  --primary: #09141f;
  --secondary: #000135;
  --success:  #04cc8e;
  --warn: #d32f2f;
  --tertiary:#115173;">

  <div class="navbar">
    <nav>
      <div class="button">Normal</div>
      <div class="button primary">Primary</div>
      <div class="button secondary">Secondary</div>
      <div class="button tertiary">Tertiary</div>
      <div class="button success">Success</div>
      <div class="button warn">Warn</div>
      Some Text
    </nav>
  </div>

  <section>
    <!--    <h2>Button</h2>-->
    <div class="button">Button Normal</div>
    <div class="button primary">Button Primary</div>
    <div class="button secondary ">Button Secondary</div>
    <div class="button success ">Button Success</div>
    <div class="button warn">Button Warn</div>
  </section>

  <section>
    <div class="card">
      <div class="card-header">
        <div class="card-title">Card Title</div>
        <div class="card-sub1">Card Subtitle 1</div>
        <div class="card-sub2">Card Subtitle 2</div>
      </div>
      <div class="card-content">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec id lorem ligula.
        Pellentesque risus quam, consequat vitae efficitur ut, ultrices.
      </div>
      <div class="card-footer">
        <div class="card-action">
          <div class="button warn">Action 1</div>
          <div class="button success">Action 2</div>
        </div>
      </div>
    </div>
  </section>
</main>
