<div class="body">
  <app-temp></app-temp>
  <app-panel></app-panel>
  <app-custom-comps></app-custom-comps>
<!--  <app-video></app-video>-->
  <app-side-menu></app-side-menu>
  <app-components></app-components>
  <app-glass-morphism></app-glass-morphism>
  <app-dropdown-menu></app-dropdown-menu>
  <app-neomorph></app-neomorph>
  <app-hexagon-hover></app-hexagon-hover>
  <app-startup-page></app-startup-page>
  <app-neon-button></app-neon-button>
  <app-transparent-button></app-transparent-button>
  <app-tranparent-form></app-tranparent-form>
  <app-heartbeat></app-heartbeat>
  <!--  <app-toast></app-toast>-->
</div>
