<!--<app-style-menu></app-style-menu>-->
<!--<app-folder-structure></app-folder-structure>-->
<!--<app-clamps></app-clamps>-->
<!--<app-grids></app-grids>-->
<!--<app-load-up></app-load-up>-->
<!--<app-clip-path-reveal></app-clip-path-reveal>-->
<!--<app-cards></app-cards>-->
<!--<app-drag-and-drop></app-drag-and-drop>-->
<!--<app-side-menu></app-side-menu>-->
<!--<app-temp></app-temp>-->
<!--<app-panel></app-panel>-->
<!--<app-custom-comps></app-custom-comps>-->
<!--&lt;!&ndash;  <app-video></app-video>&ndash;&gt;-->
<!--<app-components></app-components>-->
<!--<app-glass-morphism></app-glass-morphism>-->
<!--<app-dropdown-menu></app-dropdown-menu>-->
<!--<app-neomorph></app-neomorph>-->
<!--<app-hexagon-hover></app-hexagon-hover>-->
<!--<app-startup-page></app-startup-page>-->
<!--<app-neon-button></app-neon-button>-->
<!--<app-transparent-button></app-transparent-button>-->
<!--<app-tranparent-form></app-tranparent-form>-->
<!--<app-heartbeat></app-heartbeat>-->
<!--  <app-toast></app-toast>-->
<!--<button (click)='add(1)' color='primary' mat-raised-button>Add</button>-->
<!--<button (click)='sub(2)' color='accent' mat-raised-button>Subtract</button>-->
<!--{{value}}-->
<!--<app-image-zoom></app-image-zoom>-->
<!--<app-drag-drop-list></app-drag-drop-list>-->
<div style='padding: 5rem'>
  <!--  <app-progress-bar-->
  <!--    [barColor]='["#E2B697","#5B3521"]' [progress]='progress' backgroundColor='rgba(226, 183, 152, 0.2)'-->
  <!--    mode='determinate'-->
  <!--  ></app-progress-bar>-->
</div>
<div
  style='width: 75%; position:relative;display:flex;align-items:center;justify-content:center;padding: 3rem'
>
  <progress-bar-angular
    [animatedBuffer]='true'
    [barColor]='["#E2B697","#5B3521"]'
    backgroundColor='rgba(226, 183, 152, 0.2)'
    mode='buffer'
    [progress]='progress'
    borderRadius='full'
  >
  </progress-bar-angular>
</div>
<!--<progress-bar-angular mode='determinate' [progress]='50'></progress-bar-angular>-->
