* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}


body {
  position: relative;
  display: flex;
  min-height: 100vh;

  align-items: center;
  justify-content: center;

  background-color: lightgrey;

  font-family: "Jura", sans-serif;
  color: white;
}

.card {
  position: relative;
  display: flex;
  flex-direction: column;

  width: var(--width);
  height: calc(var(--width) * 1.2);
  overflow: hidden;

  border-radius: 5px;
  padding: 16px;

  transition: 0.25s ease-in-out;

  background: white;

  &:before {
    content: "";
    position: absolute;

    width: 100%;
    height: 100%;

    top: 100%;
    left: 0;

    border-radius: 5px;

    backdrop-filter: blur(10px);

    z-index: 1;

    transition: 0.25s ease-in-out;
  }

  .title {
    font-weight: 700;
    font-size: 36px;
    z-index: 2;

    opacity: 0;
    transform: translateY(-1000px);

    transition: 0.25s ease-in-out;
  }

  span {
    position: absolute;
    width: 200%;
    height: 100%;
    top: 0;
    left: 0;

    background: #ee2732;

    transform: skewY(90deg);

    transition: 0.25s ease-in-out;
  }

  .image {
    display: flex;
    margin: 8px 0;
    width: 100%;
    height: 50%;

    align-items: center;
    justify-content: center;

    transition: 0.25s ease-in-out;

    img {
      width: 60%;
      height: 100%;
    }

    z-index: 2;
  }

  .content {
    display: flex;
    width: 100%;
    justify-content: center;
    font-size: 24px;
    z-index: 2;

    transform: translateY(2000px);
    opacity: 0;

    transition: 0.25s ease-in-out;
  }

  .button {
    position: absolute;
    display: flex;
    width: 100%;
    bottom: 7%;

    align-items: center;
    justify-content: center;

    z-index: 2;

    transform: translateY(2000px);
    opacity: 0;

    transition: 0.25s ease-in-out;


    p {
      font-weight: 700;
      font-size: x-large;
      padding: 8px 24px;
      background: white;

      color: #ee2732;

      border-radius: 5px;
      cursor: pointer;

      transition: 0.25s ease-in-out;

      &:hover {
        transform: scale(1.1);
      }
    }


  }

  &:hover {

    box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);

    &:before {
      top: 0;
    }

    span{
      transform: skewY(0deg);
    }

    .title {
      opacity: 1;
      transform: translateY(0);
    }


    .image {
      transform: scale(1.2) rotate(5deg);
    }

    .button, .content {
      transform: translateY(0);
      opacity: 1;
    }

  }

}
