.grids {
  position: relative;
  width: 100%;
  height: 100%;


  .major {
    display: grid;
    width: 100%;
    height: 100%;
    padding: 1em;
    grid-template-rows: repeat(auto-fit, 10vh);
    grid-template-columns: 200px;
    grid-gap: 1em;

    .minor {
      width: 100%;
      height: 100%;
      background: blue;

      img {
        width: 100%;
        height: 100%;
        object-fit: cover;
      }
    }
  }
}
