<main>
  <div class="navbar">
    <div class="nav">
      <div class="all">></div>
      <div class="menu" id="m1">
        <div class="menu-button">Location</div>
        <div class="menu-content">Content 1</div>
      </div>
      <div class="menu" id="m2">
        <div class="menu-button">Speed</div>
        <div class="menu-content">Content 2</div>
      </div>
      <div class="menu" id="m3">
        <div class="menu-button">Temperature</div>
        <div class="menu-content">Content 3</div>
      </div>
      <div class="menu" id="m4">
        <div class="menu-button">Rotation</div>
        <div class="menu-content">Content 4</div>
      </div>
      <div class="menu" id="m5">
        <div class="menu-button">Misc</div>
        <div class="menu-content">Content 5</div>
      </div>
    </div>
  </div>
</main>
