body {
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background: #031321;
  font-family: Consolas;
}

a {
  position: relative;
  display: inline-block;
  padding: 30px 30px;
  color: greenyellow;
  background: greenyellow;
  text-transform: uppercase;
  letter-spacing: 4px;
  text-decoration: none;
  font-size: 24px;
  overflow: hidden;
  border-radius: 50%;
  animation: heartbeat 1s forwards infinite;
  filter: blur(1px);
  transition: 0.2s;
}

a:hover {
  transform: scale(1.2);
}

@keyframes heartbeat {
  0% {
    opacity: 0;
    padding: 0;
    box-shadow: none;
  }
  30%, 80% {
    opacity: 1;
    padding: 30px 30px;
    box-shadow: 0 0 10px greenyellow, 0 0 40px greenyellow, 0 0 80px greenyellow;
  }
  100% {
    opacity: 0;
    padding: 0;
    box-shadow: none;
  }
}
